{% load static %}
<footer class="main-footer">
  <div id="contacto" class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <h6 class="text-white">Federación Mendocina de Ajedrez</h6>
        </div>
        <div class="contact-details">
          <p>Av. Pedro Molina 561, M5500 DWJ, Mendoza</p>
          <p>Teléfono: 0261 15-366-3266</p>
          <p>Email: <a href="mailto:info@company.com">fmendozajedrez@gmail.com</a></p>
          <ul class="social-menu">
            <li class="list-inline-item"><a href="https://es-la.facebook.com/AjedrezEnMendoza/"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/ajedrez_fma"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/fed_mendocina_ajedrez/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
            <div class="col-lg-8">
        <div class="menus d-flex">
          <ul class="list-unstyled">
          <li class="list-inline-item">Para donar y hacer crecer aún más el <b>ajedrez mendocino</b>, lo pueden hacer a la siguiente dirección de btc: </br> 1Nf6L7yDnEYbT9wVysLuDzQVH7gSNSCZqd</li>
          <li class="list-inline-item"></br>  O sino también a la cuenta Bancaria:  </br>
            Banco Macro Cta Cte N° 3_766_0941064071_4 </br> a nombre de Federación Mendocina de Ajedrez.
            CUIT 30705156138 CBU 2850766_03009410640714_1</li>
          </ul>
        </div>
      </div>
     <!--  <div class="col-md-4">
        <div class="latest-posts"><a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/KingQueen.jpeg' %}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>La partida del siglo</strong><span class="date last-meta">20 de octubre, de
                  2019</span></div>
            </div>
          </a><a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/Foto final.jpg' %}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>Torneo blitz de los sábados</strong><span class="date last-meta">15 de febrero,
                  de 2020</span></div>
            </div>
          </a><a href="#">
            <div class="post d-flex align-items-center">
              <div class="image"><img src="{% static 'img/King1.jpeg' %}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>Circuito mendocino de ajedrez</strong><span class="date last-meta">20 de abril
                  de 2020</span></div>
            </div>
          </a></div>
      </div> -->
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2020. F.M.A. Federación Mendocina de Ajedrez.</p>
        </div>
        <div class="col-md-6 text-right">
          <p> <a href="https://bootstraptemple.com" class="text-white"> </a>
            <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
